* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: sans-serif;
    background: #0b1020;
    color: #fff;
    line-height: 1.6;
}


header, main, footer {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

header {
    padding-top: 40px;
    padding-bottom: 20px;
}
main {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

section {
    background: #141b34;
    border-radius: 12px;
    padding: 18px;
}
li{
    margin-left:20px;
}


h1 {
    margin-top: 0;
    font-size: 2.2rem;
}

h2 {
    margin-top: 0;
    font-size: 1.4rem;
}


a {
    color: #7ab8ff;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
    opacity: 0.9;
}


figure {
    margin: 16px 0 0 0;
}

img{
    width: 100%;
    max-width: 700px;
    border-radius: 12px;
    margin-top: 10px;
}


footer {
    opacity: 0.8;
    padding-bottom: 40px;
}

button {
    padding: 10px 14px;
    border: none;
    border-radius: 10px;
    background: #2a3b7a;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
}

button:hover {
    filter: brightness(1.1);
}
